.list-item{
    color:blue;
    font-weight: bold;
    /* padding-left:16px;
    padding-right:16px;
    padding-top:16px;
    padding-bottom:16px; */

    /* padding: 10px 12px 14px 16px; */

    /* padding:10px 50px 20px; */

    /* padding: 10px 20px; */

    padding:20px;
}