.container{
    display: flex;
}

.box{
    width:100px;
    height:100px;
}

.red{
    background-color:red;
}

.green{
    background-color:green;
    position:relative;/* Di chuyển tương đối so với vị trí ban đầu*/
    top:10px;
    left:20px;
}

.blue{
    background-color:blue;
}