body{
    margin:0;
}

.container{
    display: flex;
    flex-direction: row;
    background-color:#DDD;
    /* justify-content: flex-end;
    height:250px;
    align-items:flex-end; */
}

.child-1{
    background-color:red;
    flex-basis: 500px;
    flex-grow: 1;
}

.child-2{
    background-color:green;
    flex-basis: 300px;
    flex-grow: 1;
    /* flex-shrink: 0; */
    
}

.child-3{
    background-color:blue;
    flex-basis:200px;
    flex-grow: 1;
}

.container-swap .child-1{
    display: flex;
    order:1;
}